@font-face 
{
font-family: "dropcaps";
src: url("fonts/Lombardina-Initial-One.ttf");
}
@font-face 
{
font-family: "Title";
src: url("fonts/Edisson.ttf");
}
@font-face 
{
font-family: "paragraph";
src: url("fonts/DroidSerif-Regular.ttf");
}
@font-face 
{
font-family: "paragraph";
src: url("fonts/DroidSerif-Bold.ttf");
font-weight: bold;
}
@font-face 
{
font-family: "paragraph";
src: url("fonts/DroidSerif-Italic.ttf");
font-style: italic, oblique;
}
@font-face 
{
font-family: "paragraph";
src: url("fonts/DroidSerif-BoldItalic.ttf");
font-weight: bold;
font-style: italic, oblique;
}
p
{
margin-bottom: 3pt; 
margin-top: 3pt;
margin-left: -20px;
margin-right: -20px;
font-size: 110%;
}
p.text-name
{
text-indent:0px;
text-shadow:3px 3px #000000;
font-size: 200%;
font-weight:bolder;
}
p.text-author
{
text-indent:0px;
font-style:italic;
font-weight:bold;
text-align:right;
}
div.image
{
text-indent:0px;
text-align:center;
/*float:left;
border:.2em double #254117;
padding:5px 5px 5px 5px;
border-radius: 15px 15px 15px 15px;*/
}
div.book
{
font-family: "paragraph";
text-indent:35px;
padding-bottom: 50px;
}
div.nobook
{
text-indent:0px;
font-family: "paragraph";
}
div.title
{
-webkit-hyphens: none;
font-family: "title";
padding-bottom: 28px;
margin-bottom: 30px; 
text-indent:0px;
}
div.title0
{
font-family: "title";
text-shadow:2px 2px #C0C0C0;
font-weight:bolder;
text-align:center;
text-indent:0px;
font-size: 200%;
padding-top: 28px;
}
div.title1
{
font-family: "title";
text-shadow:2px 2px #C0C0C0;
font-weight:bolder;
text-align:center;
text-indent:0px;
font-size: 180%;
padding-top: 28px;
}
div.title2
{
font-family: "title";
text-shadow:2px 2px #C0C0C0;
font-weight:bolder;
text-align:center;
text-indent:0px;
font-size: 160%;
padding-top: 28px;
}
div.title3
{
font-family: "title";
text-shadow:2px 2px #C0C0C0;
font-weight:bolder;
text-align:center;
text-indent:0px;
padding-top: 28px;
font-size: 140%;
}
div.title4
{
font-family: "title";
text-shadow:2px 2px #C0C0C0;
font-weight:bolder;
text-align:center;
text-indent:0px;
padding-top: 28px;
font-size: 120%;
}
div.title5 div.title6 div.title7 div.title8 div.title9
{
font-family: "title";
text-shadow:2px 2px #C0C0C0;
font-weight:bolder;
text-align:center;
text-indent:0px;
padding-top: 28px;
font-size: 100%;
}
div.epigraph
{
text-indent:0px;
font-family: "paragraph";
font-style:italic;
margin-left : 25%;
}
div.supertitle
{
font-family: "paragraph";
color:#ffffff;
border:.1em solid #000000;
border-radius:10px;
text-indent:0px;
}
div.subtitle
{
font-family: "paragraph";
font-style:italic;
font-weight: bold;
text-align:center;
font-size: 100%;
text-shadow:2px 2px #C0C0C0;
text-indent:0px;
}
div.cite
{
text-indent:0px;
font-style:italic;
font-size: 90%;
}
div.poem
{
text-indent:0px;
font-style:italic;
text-align:center;
}
div.note
{
font-family: "paragraph";
font-style:italic;
font-size: 80%;
}
span.dropcaps
{
font-family: "dropcaps";
float: left;
font-size: 4em;
margin-bottom:-0.3em;
}
span.dropcaps2
{
text-shadow:1px 1px #505050;
}
span.Note
{
float: right;
margin-top: 3px;
/*margin-left: 5px;
margin-right: -6px;*/
width: 40%;
text-indent:0px;
font-size:50%;
border-radius: 4px;
background: #e6e6fa;
padding: 2px;
border: 1px #505050 solid;
/*border-bottom: 1px #505050 solid;
border-top: 1px #505050 solid;*/
}
ul
{
font-family: "paragraph";
text-align:left;
font-style:italic;
}
sup
{
font-size: 60%;
color:#555555;
}