<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
<img src="~/Images/error.png"/>

@* <hgroup> *@
@*     <h1>Oops, error happened</h1> *@
@*     <h2>An error occurred while processing your request, sorry for that...</h2> *@
@* </hgroup> *@

</body>
</html>
