<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <connectionStrings>
    <add name="TimeTrack" providerName="System.Data.SqlClient" connectionString="Data Source=192.168.0.108;Initial Catalog=TimeTrack;Persist Security Info=True;User ID=timewriter;Password=timewriter;" />
  </connectionStrings>

  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    
    <add key="ConverterPath" value="d:\media\library\fb2kindle\Fb2Kindle.exe" />
    <add key="DatabasePath" value="d:\media\library\myrulib_flibusta\myrulib.db" />
    <add key="StatisticsDBPath" value="jail_main.db" />
    <add key="ArchivesPath" value="e:\media\library\fb2.Flibusta.Net" />
    <add key="TempDataFolder" value="d:\downloads\.library" />
    <add key="MaxRecordsToShowAtOnce" value="100" />
    <add key="TimeTrack" value="False" />

    <add key="SmtpServer" value="smtp.gmail.com" />
    <add key="SmtpPort" value="587" />
    <add key="SmtpLogin" value="fbtokindle@gmail.com" />
    <add key="SmtpPassword" value="RbylkYtYfdctulf123" />
    <add key="AdminDefaultEmail" value="simpl2000@kindle.com" />

    <add key="SiteRemotePath" value="http://134.249.228.249" />
    <add key="FlibustaLink" value="https://flibusta.is" />

  </appSettings>

  <!--<nlog internalLogFile="${specialfolder:folder=MyDocuments}\intLog.txt" internalLogLevel="Trace">-->
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <variable name="logDirectory" value="${basedir}/Logs" />
    <targets>
      <target xsi:type="File" name="file"
              layout="${longdate} ${threadid:padding=4} ${level:uppercase=true:padding=5} ${windows-identity:domain=false} ${event-properties:item=CalledBy} at ${event-properties:item=LogCallerAddress} - ${message} ${exception:format=message,stacktrace:separator=*"
              fileName="${logDirectory}/log.txt" 
              archiveFileName="${logDirectory}/log.{#}.txt" 
              archiveAboveSize="10485760"
              archiveNumbering="DateAndSequence"
              archiveDateFormat="yyyyMMdd"
              maxArchiveFiles="100"
              concurrentWrites="true" createDirs="true" autoFlush="true"/>
      <target 
        name="database" xsi:type="Database"
        keepConnection="false"
        useTransactions="false"
        dbProvider="System.Data.SQLite.SQLiteConnection, System.Data.SQLite"
        connectionString="Data Source=${basedir}\jail_main.db;Version=3;"
        commandType="Text">
        <commandText>
          insert into systemlogs(level,message,machinename, username, exception, CallerAddress) values(@level, @message,@machinename, @user_name, @log_exception, @CallerAddress);
        </commandText>
        <parameter name="@level" layout="${level}" />
        <parameter name="@message" layout="${message}" />
        <parameter name="@machinename" layout="${machinename}" />
        <parameter name="@user_name" layout="${event-properties:item=CalledBy}" />
        <!--        <parameter name="@user_name" layout="${windows-identity:domain=true}" />-->
        <!--        <parameter name="@call_site" layout="${callsite:filename=true}" />-->
        <!--        <parameter name="@threadid" layout="${threadid}" />-->
        <parameter name="@log_exception" layout="${exception:format=toString,Data:maxInnerExceptionLevel=10}" />
        <!--        <parameter name="@stacktrace" layout="${stacktrace}" />-->
        <parameter name="@CallerAddress" layout="${event-properties:item=LogCallerAddress}" />
      </target>
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="file" />
      <logger name="*" minlevel="Trace" appendTo="database" />
    </rules>
  </nlog>
  
  <system.web>
    <customErrors mode="On" defaultRedirect="~/Error">
      <error redirect="~/Error/NotFound" statusCode="404" />
    </customErrors>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" maxRequestLength="102400" executionTimeout="3600" maxUrlLength="1024" relaxedUrlToFileSystemMapping="true" maxQueryStringLength="2048" />
    <httpModules>
    </httpModules>
    <authentication mode="Forms">
      <forms loginUrl="~/login" timeout="2880" />
    </authentication>    
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="WebDAVModule" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
<!--      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS"-->
<!--        type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>-->
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <staticContent>
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
      <remove fileExtension=".mp4" />
      <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
      <mimeMap fileExtension=".mobi" mimeType="application/octet-stream" />
      <mimeMap fileExtension=".fb2" mimeType="text/xml" />
    </staticContent>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="104857600" />
      </requestFiltering>
    </security>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
