<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <connectionStrings>
        <add name="DefaultConnection" connectionString="Data Source=192.168.1.32;Initial Catalog=jail;Persist Security Info=True;User ID=sa;Password=sa;" 
             xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
        <add name="TimeTrack" connectionString="Data Source=192.168.0.108;Initial Catalog=TimeTrack;Persist Security Info=True;User ID=timewriter;Password=timewriter;" 
             xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  <appSettings>
    <add key="DatabasePath" value="d:\library\myrulib_flibusta\myrulib.db" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ArchivesPath" value="d:\library\fb2.flibusta.net" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>
