<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="DatabasePath" value="d:\media\library\myrulib_flibusta\myrulib.db" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="StatisticsDBPath" value="d:\media\library\myrulib_flibusta\jail_main.db" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ArchivesPath" value="d:\media\library\fb2.flibusta.net" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <system.web>
  </system.web>
</configuration>
