@{
    ViewBag.Title = "About";
}

<div class="jumbotron">
    <h1>JAIL</h1>
    <p class="lead">JAIL (Just Another Internet Library) is a free online service for book(s) search and convertation.</p>
    <p><a href="@Url.Action("Index", "Home")" class="btn btn-primary btn-lg">Search a book &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            JAIL gives you a powerful ability to search and download any books you want
            (with some limitations, but you may not discover any),
            easy-based way to choose output file format and full control over the world!
        </p>
        <p>
            Read books and have fun!
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Contact", "Home")">Contact us &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Online FB2 converter</h2>
        <p>Online FB2 converter is a free extension that makes it easy to upload your .fb2 files and convert them to kindle format.</p>
        <p><a class="btn btn-default" href="@Url.Action("UploadFile", "Home")">Try now &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Other libraries</h2>
        <p>You can easily find another web service that offers the right mix of features and price for your needs.</p>
        <p><a class="btn btn-default" href="http://google.com">Find now &raquo;</a></p>
    </div>
</div>