@model IEnumerable<jail.Models.AuthorInfo>

@{
    var addComma = false;
    foreach (var author in Model)
    {
        if (addComma)
        {
            @Html.Raw(", ")
        }
        <a href='@Url.Action("author", new {id = author.Id})' title="View author">
            @Html.DisplayFor(modelItem => author.DisplayName)
        </a>
        addComma = true;
    }
}