@using jail.Models
@model IEnumerable<BookFavoritesInfo>
@{
    ViewBag.Title = "Favorites";
}
    <script type="text/javascript">
    //function RedirectToFlibusta(id) {
    //    window.location = 'http://flibusta.is/user/' + id;
    //}
    </script>
<h2>Favorites</h2>
<div id="gridDataContainer">
    @{Html.RenderPartial("FavoritesPartial", Model);}
</div>
