@using jail.Controllers
@model IEnumerable<jail.Models.BookInfo>

@{
    ViewBag.Title = "Search";
}
<script type="text/javascript">
    $(document).ready(function () {
        $("#searchBlock").keyup(function (event) {
            //window.Helper.delay(function () { RefreshData(true); }, 1000);
            if (event.keyCode === 13) {
                RefreshData(true);
            }
        });
        $(".dropdown-menu.change-lang").on('click', 'li a', function () {
            var selectedItemText = $(this).text();
            var selectedItemSearchType = $(this).attr("data-search-lang");

            $(this).parents("li").addClass("selected");
            $(this).parents("ul").find("li").removeClass("selected");
            $("#searchBlock").attr("data-search-lang", selectedItemSearchType);
            var btnIdToChange = $(this).parents(".dropdown-menu.change-lang").attr("data-change-item-id");
            $("#" + btnIdToChange).html(selectedItemText + " <span class='caret'></span>");
            RefreshData(true);
        });
    });
    function RefreshData(reloadOnError) {
        var search = $("#searchBlock");
        var key = $.trim(search.val());
        var searchLang = search.attr("data-search-lang");
        $.ajax({
            type: "GET",
            url: '@Url.Action("SearchResults")',
            data: { key: key, searchLang: searchLang },
            success: function (response) {
                $("#gridContainer").html(response);
                $("#footer").hide();
            },
            error: function (response, status, error) {
                if (reloadOnError)
                    location.reload();
                else
                    window.Helper.ShowError(error);
            }
        });
    }
</script>
<div class="search-wrapper ">
    <div class="btn-toolbar pull-left col-md-1" role="toolbar">
        <h4>@ViewBag.Title</h4>
    </div>
    <div class="input-group pull-left">
        <input id="searchBlock" type="text" class="form-control" aria-label="..."
               data-search-lang="ru" placeholder="Search by title or author...">
        <div class="input-group-btn">
            <button id="searchLangBtn" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" 
                    aria-haspopup="true" aria-expanded="false">Ru<span class="caret"></span></button>
            <ul class="dropdown-menu dropdown-menu-right change-lang" data-change-item-id="searchLangBtn">
                <li><a href="#" data-search-lang="all">All</a></li>
                <li><a href="#" data-search-lang="ru">Ru</a></li>
                <li><a href="#" data-search-lang="en">En</a></li>
            </ul>
        </div>
        <div class="input-group-btn">
            <button id="searchTypeBtn" type="button" class="btn btn-primary" onclick="RefreshData();">Search</button>
        </div>
    </div>
</div>
<br/>
<div class="clearfix"></div>

<div id="gridContainer">
    @{Html.RenderPartial("SearchResults", Model);}
</div>

<div class="clearfix"></div>
<div id="footer">
    <footer>
        &copy; @DateTime.Now.Year - JAIL (Just Another Internet Library)
        <p>@HomeController.GetVersionString()</p>
    </footer>
</div>