@model jail.Models.BookInfo


<h2>@ViewBag.Title</h2>
<script> 
    $(function(){
        $("#includedContent").load("@ViewBag.BookContent");
    });
</script> 
<div id="gridContainer">
    <div id="includedContent"></div>
@*    @Html.Raw(Model.BookContent)*@
</div>
