@model IEnumerable<jail.Models.SequenceInfo>

@foreach (var seq in Model)
{
    <span style="margin-right: 5px;">
        <a href='@Url.Action("sequence", new {id = seq.Id})' title="View sequence">
            @Html.DisplayFor(modelItem => seq.Value)
        </a>
        @if (seq.BookOrder > 0)
        {
            <span>- @Html.DisplayFor(modelItem => seq.BookOrder)</span>
        }
    </span>
}