@using jail.Models
@model IEnumerable<CheckItem>

@{
    ViewBag.Title = "Time";
}

<script type="text/javascript">
    function RefreshData() {
        $.ajax({
            type: "GET",
            url: '@Url.Action("TimePartial", new { id = ViewBag.Id })',
            success: function (response) {
                $("#gridDataContainer").html(response);
            },
            error: function (response, status, error) {
                window.Helper.ShowError(error);
            }
        });
    }
    function CheckIn() {
        if (!confirm("Are you sure you want to check IN?"))
            return;
        $.ajax({
            url: '@Url.Action("CheckIn", new { id = ViewBag.Id })',
            success: RefreshData,
            error: function (response, status, error) {
                window.Helper.ShowError(error);
            }
        });
    }
    function CheckOut() {
        if (!confirm("Are you sure you want to check OUT?"))
            return;
        $.ajax({
            url: '@Url.Action("CheckOut", new { id = ViewBag.Id })',
            success: RefreshData,
            error: function (response, status, error) {
                window.Helper.ShowError(error);
            }
        });
    }
</script>

<div class="search-wrapper">
    <div class="control-buttons">
        <button type="button" class="btn btn-primary" onclick="RefreshData();" title="Search">
            <i class="glyphicon glyphicon-refresh"></i>
        </button>
        <button type="button" class="btn btn-success" onclick="CheckIn();" title="Check IN">
            <i class="glyphicon glyphicon-log-in"></i>
        </button>
        <button type="button" class="btn btn-success" onclick="CheckOut();" title="Check OUT">
            <i class="glyphicon glyphicon-log-out"></i>
        </button>
    </div>
</div>
<div class="clearfix"></div>
<div id="gridDataContainer">
    @{Html.RenderPartial("TimePartial", Model);}
</div>