@{
    ViewBag.Title = "File Upload";
}

<script type="text/javascript">
    var dropZone;

    $(document).ready(function () {
        dropZone = $('#dropZone');
        dropZone.removeClass('error');

        // Check if window.FileReader exists to make
        // sure the browser supports file uploads
        if (typeof(window.FileReader) == 'undefined') {
            dropZone.text('Browser Not Supported!');
            dropZone.addClass('error');
            return;
        }

        // Add a nice drag effect
        dropZone[0].ondragover = function () {
            dropZone.addClass('hover');
            return false;
        };

        // Remove the drag effect when stopping our drag
        dropZone[0].ondragend = function () {
            dropZone.removeClass('hover');
            return false;
        };

        // The drop event handles the file sending
        dropZone[0].ondrop = function(event) {
            // Stop the browser from opening the file in the window
            event.preventDefault();
            dropZone.removeClass('hover');

            // Get the file and the file reader
            var file = event.dataTransfer.files[0];

            // Validate file size
            if(file.size > @ViewBag.maxRequestLength) {
                dropZone.text('File Too Large!');
                dropZone.addClass('error');
                return false;
            }
            if(!file.name.toLowerCase().endsWith('fb2')) {
                dropZone.text('Try ".fb2" file please!');
                dropZone.addClass('error');
                return false;
            }
            // Send the file
            var xhr = new XMLHttpRequest();
            xhr.upload.addEventListener('progress', uploadProgress, false);
            xhr.onreadystatechange = stateChange;
            xhr.open('POST', 'handleFileUpload', true);
            xhr.setRequestHeader('X-FILE-NAME', file.name);
            xhr.send(file);
            return true;
        };
        });

        // Show the upload progress
        function uploadProgress(event) {
            var percent = parseInt(event.loaded / event.total * 100);
            dropZone.text('Uploading: ' + percent + '%');
        }

        // Show upload complete or upload failed depending on result
        function stateChange(event) {
            if (event.target.readyState == 4) {
                if (event.target.status == 200) {
                    dropZone.text('Upload Complete!');
                    dropZone.removeClass('error');
                }
                else {
                    dropZone.text('Upload Failed!');
                    dropZone.addClass('error');
                }
            }
        }
</script>

<h2>Drop '.fb2' file to convert to kindle format</h2>

<form id="form1" runat="server">
    <div id="dropZone">
        Drop File Here to Upload.
    </div>
</form>

<p>
    Sorry, converter is not ready... :(
</p>