@{
    ViewBag.Title = "File Upload";
}

<script type="text/javascript">
    $(document).ready(function () {
        InitDropZoneHandlers(@ViewBag.maxRequestLength);
    });
</script>

<div style="text-align: center;">
    <h3>Drop '.fb2' file to convert to kindle format (.mobi)</h3>
    <p>or download offline converter utility @Html.ActionLink("here", "GetConverter", "Home")</p>

    <form id="form1" runat="server">
        <div id="dropZone">
            Drop File Here to Upload.
        </div>
    </form>
    <div>
        and get the result...
    </div>
    <div id="downloadZone">
        
    </div>
</div>
