@{
    ViewBag.Title = "File Upload";
}

<script type="text/javascript">
    var dropZone;

    $(document).ready(function () {
        dropZone = $('#dropZone');
        dropZone.removeClass('error');

        // Check if window.FileReader exists to make
        // sure the browser supports file uploads
        if (typeof(window.FileReader) == 'undefined') {
            dropZone.text('Browser Not Supported!');
            dropZone.addClass('error');
            return;
        }

        // Add a nice drag effect
        dropZone[0].ondragover = function () {
            dropZone.addClass('hover');
            return false;
        };

        // Remove the drag effect when stopping our drag
        dropZone[0].ondragend = function () {
            dropZone.removeClass('hover');
            return false;
        };

        // The drop event handles the file sending
        dropZone[0].ondrop = function(event) {
            // Stop the browser from opening the file in the window
            event.preventDefault();
            dropZone.removeClass('hover');

            // Get the file and the file reader
            var file = event.dataTransfer.files[0];

            // Validate file size
            if(file.size > @ViewBag.maxRequestLength) {
                dropZone.text('File Too Large!');
                dropZone.addClass('error');
                return false;
            }
            if(!file.name.toLowerCase().endsWith('fb2')) {
                dropZone.text('Try ".fb2" file please!');
                dropZone.addClass('error');
                return false;
            }
            // Send the file
            var xhr = new XMLHttpRequest();
            xhr.upload.addEventListener('progress', uploadProgress, false);
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4) {
                    if (xhr.status == 200) {
                        var resp = JSON.parse(xhr.response);
                        if (resp.success == true) {
                            dropZone.text('Upload Complete!');
                            $('#downloadZone').html('<a href="' + resp.link + '" title="Download">' + resp.fileName + '</a>');
                            dropZone.removeClass('error');
                        }
                        else {
                            dropZone.text('Upload error!');
                            dropZone.addClass('error');
                        }
                    }
                    else {
                        dropZone.text('Upload Failed!');
                        dropZone.addClass('error');
                    }
                }
            }
            xhr.open('POST', 'Home/HandleFileUpload', true);
            xhr.setRequestHeader('X-FILE-NAME', file.name);
            xhr.send(file);
            return true;
        };
        });

        // Show the upload progress
        function uploadProgress(event) {
            var percent = parseInt(event.loaded / event.total * 100);
            dropZone.text('Uploading: ' + percent + '%');
        }
</script>

<div style="text-align: center;">
    <h3>Drop '.fb2' file to convert to kindle format (.mobi)</h3>
    <p>or download offline converter utility @Html.ActionLink("here", "GetConverter", "Home")</p>

    <form id="form1" runat="server">
        <div id="dropZone">
            Drop File Here to Upload.
        </div>
    </form>
    <div>
        and get the result...
    </div>
    <div id="downloadZone">
        <p>
            No files uploaded yet... :(
        </p>
    </div>
</div>
